/*
* Fonts
*/
@font-face {
    font-family: 'Cachet Book';
    src: url('http://difdev.com/newportymca/fonts/CachetStd-Book.woff') format('woff'),
         url('http://difdev.com/newportymca/fonts/CachetStd-Book.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}



/*
* General
*/
:root {
	--headingFont: 'Cachet Book';
	--bodyFont: 'Open Sans';
}

.blue-bar-top:after,
.blue-bar-bottom:after {
	content: "";
	position: absolute;
	left: 0;
	width: 25vw;
	height: 16px;
	background: var(--mk-skin-color);
	z-index: 100010;
}
.blue-bar-top:after {
	top: 0;
}
.blue-bar-bottom:after {
	bottom: 0;
}
.teal-bar-bottom {
	border-bottom: 16px solid var(--mk-link-hover-color);
}

h1, h2, h3 {
	font-family: var(--headingFont) !important;
	font-weight: 900 !important;
}



/*
* VC Single Image Custom
*/
.wpb_single_image.wpb_content_element {
	position: relative !important;
	margin: 0 10px 10px 0 !important;
}
.wpb_single_image.wpb_content_element * {
	width: 100% !important;
}
/* with link and hover */
.wpb_single_image.wpb_content_element .wpb_heading.wpb_singleimage_heading {
	position: absolute !important;
	display: flex !important;
	justify-content: flex-start;
	align-items: flex-end;
	top: 0 !important;
	right: 0 !important;
	left: 0 !important;
	bottom: 0 !important;
	width: 100% !important;
	height: 100% !important;
	margin: 0 !important;
	padding: 0 42px 40px !important;
	background: linear-gradient( 0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.0) 100% );
	font-family: var(--bodyFont) !important;
	font-size: 1.25rem !important;
	font-weight: 600 !important;
	line-height: 1;
	letter-spacing: 2px !important;
	color: white !important;
	text-transform: uppercase !important;
	box-sizing: border-box;
	pointer-events: none !important;
	z-index: 1010;
	transition: all 420ms ease;
}
.wpb_single_image.wpb_content_element:hover .wpb_heading.wpb_singleimage_heading {
	opacity: 0.6;
}
.wpb_single_image.wpb_content_element a.vc_single_image-wrapper {
	position: relative !important;
	overflow: hidden;
}
.wpb_single_image.wpb_content_element a.vc_single_image-wrapper:after {
	content: "";
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background-color: var(--mk-skin-color);
	z-index: 1020;
	transition: all 420ms ease;
	transform: translate( 0%, 100% );
}
.wpb_single_image.wpb_content_element:hover a.vc_single_image-wrapper:after {
	transform: translate( 0%, 0% );
}



/*
* Header / Nav
*/
body.home .mk-header {
	position: absolute;
	background: transparent;
	border-bottom: 1px solid transparent;
	transition: all 333ms ease;
}
/* Set home colors */
body.home .mk-header .mk-header-holder {
	transition: all 80ms ease !important;
}
body.home .mk-header:not(.a-sticky) .mk-header-holder {
	padding-top: 42px;
	transition: all 333ms 222ms ease !important;
}
body.home .mk-header .mk-header-inner {
	transition: all 333ms ease;
}
body.home .mk-header:not(.a-sticky) .mk-header-inner {
	border-bottom: 10px solid transparent;
}
body.home .mk-header .mk-header-bg {
	transition: all 333ms ease;
}
body.home .mk-header:not(.a-sticky) .mk-header-bg {
	background-color: transparent;
}
body.home .mk-header .mk-responsive-wrap {
	transition: all 333ms ease;
}
body.home .mk-header:not(.a-sticky) .mk-responsive-wrap {
	background-color: transparent;
}
body.home .mk-header:not(.a-sticky) .main-navigation-ul > li.menu-item > a.menu-item-link {
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* set nav font */
.main-navigation-ul > li.menu-item > a.menu-item-link {
	font-family: var(--headingFont);
	font-weight: 900;
}



/*
* Home: About
*/
body.home h1 {
	font-size: 3.5rem;
	color: var(--mk-skin-color);
}


/*
* Home: Programs
*/
#programs .vc_column-inner {
	padding: 0 !important;
}
#programs .page-section-content > .mk-padding-wrapper.wpb_row {
	display: flex;
	align-items: stretch;
}
#programs .programsDescription {
	height: unset !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10% 2%;
}
#programs .programsGrid {
	padding: 0 0 0 10px !important;
}



/*
* Side bar
*/
.side-bar .wpb_row.vc_inner.vc_row .vc_column_container .vc_column-inner {
	padding: 32px 24px;
}
.side-bar .wpb_row.vc_inner.vc_row .vc_column_container .vc_column-inner p {
	color: white;
}
.side-bar .mk-text-block a,
.side-bar .mk-contactinfo-shortcode a {
	color: white;
	transition: all 200ms ease;
}
.side-bar .mk-text-block a:hover,
.side-bar .mk-contactinfo-shortcode a:hover {
	color: var(--mk-skin-color);
}
.side-bar .widget_contact_info.mk-contactinfo-shortcode .shortcode-heading.mk-fancy-title.pattern-style {
	background: none !important;
}
.side-bar .widget_contact_info.mk-contactinfo-shortcode .shortcode-heading.mk-fancy-title.pattern-style span {
	background: transparent !important;
	color: white !important;
}
.side-bar .widget_contact_info.mk-contactinfo-shortcode svg {
	fill: white !important;
}



/*
* Footer
*/
#mk-footer {
	border-top: 16px solid var(--mk-link-hover-color) !important;
	padding: 0 !important;
}
#mk-footer .footer-wrapper.mk-grid {
	padding: 64px 0 !important;
}
#mk-footer .widget > div:not(.widgettitle) {
	min-height: 250px;
	background: white !important;
	padding: 24px;
}

.widget-social-link {
	display: block;
	border-top: 2px solid #e8e8e8;
	padding: 8px;
}
.widget-social-link.facebook {
	font-weight: 600;
	color: var(--mk-skin-color);
}
.widget-social-link.instagram {
	font-weight: 600;
	color: gray;
}
.widget-social-link img {
	width: 33px !important;
	height: 33px !important;
	margin: 0 16px;
	object-fit: contain;
}

/*
* Sub Footer
*/
#sub-footer * {
	box-sizing: border-box;
}
#sub-footer .mk-grid {
	max-width: 100% !important;
}
#sub-footer .mk-grid .mk-footer-copyright {
	display: block !important;
	width: 100% !important;
	padding: 32px 5% !important;
}
#sub-footer .ymca-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#sub-footer .footer-links {
	list-style: none !important;
	text-align: right;
	line-height: 1.2;
}
#sub-footer .ymca-copyright {
	padding: 32px 0 0;
	text-align: center;
}



/*
* Gravity Forms
*/
.gform_wrapper {
	margin: 0 !important;
}
body .gform_wrapper ul li.gfield {
	margin-top: 0 !important;
}
.gform_wrapper ul.gform_fields li.gfield {
	padding-right: 0 !important;
}
.gform_wrapper .top_label input.medium,
.gform_wrapper .top_label select.medium {
	width: 100% !important;
	border: 2px solid #e8e8e8;
}
.gform_wrapper ul.gform_fields li.gfield input::placeholder {
	color: #e8e8e8 !important;
}
.gform_wrapper .gform_footer {
	margin: 0 !important;
}
.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit] {
	width: 100% !important;
	margin: 0 !important;
	border: 2px solid var(--mk-skin-color) !important;
	background: transparent !important;
	font-family: var(--headingFont) !important;
	font-weight: 400 !important;
	color: var(--mk-skin-color) !important;
}















