/* 
* This file is dynamically generated.
* Last updated on: Mon, 27 Nov 2017 11:41:26 -0500
*/
:root {
	--mk-skin-color: #f97352;
	--mk-grid-width: 1140px;
	--mk-header-height: 90px;
	--mk-responsive-header-height: 90px;
	--mk-sticky-header-height: 55px;
	--mk-logo: url("");
}
			