.vulcan_button a {
	position: relative;
	display: inline-block;
	transform-style: preserve-3d;
	perspective: 500px;
}
.vulcan_button a .transform-wrapper {
	display: inline-block;
	padding: 8px 16px;
	text-decoration: none;
	transform: translate3D(0,0,10px);
	transition: transform 150ms ease-out;
	will-change: transform;
}
.vulcan_button a .shadow {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #161616;
	opacity: 0.33;
	filter: blur(2px);
	transform: translate3D(0,1px,0);
	transition: all 150ms ease-out;
	will-change: transform, opacity;
}
/* hover */
.vulcan_button a:hover .transform-wrapper {
	transform: translate3D(0,-2px,40px);
}
.vulcan_button a:hover .shadow {
	opacity: 0.25;
	filter: blur(4px);
	transform: translate3D(0,4px,0);
}
/* active */
.vulcan_button a:active .transform-wrapper {
	transform: translate3D(0,-2px,25px);
}
.vulcan_button a:active .shadow {
	opacity: 0.29;
	filter: blur(3px);
	transform: translate3D(0,2px,0);
}